*{
   margin:0px; 
   padding: 0px;
}
body{
    /* background-color:rgb(249, 249, 249); */
}

#container{
    width:70%;
    margin: auto;
    margin-top: 200px;
    border: 1px solid black;
    height: 500px;
    display: flex;
    box-shadow: rgba(227, 13, 13, 0.35) 0px 5px 15px;
}

#container>div:nth-child(1),
#container>div:nth-child(3){
    height: 100%;
    width:25%;
    border: 1px solid red;
}

#container>div:nth-child(2){
    height: 100%;
    width:50%;
    border: 1px solid green;
}

.user1{
    position: absolute;
    border: 1px solid black;
    height: 15%;
    width: 10%;
    margin: 15px;
}

#top{
    height: 80%;
}

#bottom{
    height: 10%;
}
form{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#send{
    padding: 2px 5px;
}

#message{
    height: 1.5rem;
    outline: none;
}

.left{
    max-width: 500px;
    border:2px solid black;
    padding: 10px;
    background-color: bisque;
    float: left;
    clear: both;
    border-radius: 6px;
    margin-bottom: 10px;
    margin:10px;
    /* overflow-y: auto; */
}
.right{
    max-width: 500px;
    border:2px solid black;
    padding: 10px;
    background-color: bisque;
    float: right;
    clear: both;
    border-radius: 6px;
    margin-bottom: 10px;
    margin: 10px;
    /* overflow-y: auto; */
}
#chat_title{
    text-align: center;
    border:1px solid black;
    padding: 10px 0px;
}

